<!-- Notifications -->
<div>
    <div class="notification loadingBox" id="loadingBox">
        <span>Loading …</span>
    </div>
    <div class="notification infoBox" id="success">
        <span>Info</span>
    </div>
    <div class="notification errorBox" id="error">
        <span>Error: destination name can't be empty!</span>
    </div>
</div>