{{>navigation}}
<section id="homeView">
    <img class="m-auto background-image" width="100%" src="https://majorhifi.com/wp-content/uploads/spotify-premium-advanced-user-tips.jpg">
</section>
{{>footer}}