<section class="notifications" style="display: none;" id="errorBoxSection">
    <p class="notification-message" id="errorBox">Message...</p>
</section>
<section class="notifications" style="display: none;background-color:rgba(1, 131, 29, 0.541);" id="seccessBoxSection">
    <p class="notification-message" id="successBox">Message...</p>
</section>